@font-face {
  font-family: "Inter-Bold";
  src: url("./../fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("./../fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("./../fonts/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("./../fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Mulish-Regular";
  src: url("./../fonts/Mulish-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Mulish-Light";
  src: url("./../fonts/Mulish-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Mulish-Bold";
  src: url("./../fonts/Mulish-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("./../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
