* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
}

.wrapper {
  max-width: 129rem;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 4.8rem;
  width: 16.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.6rem;
  border: 1px solid #fb8f1d;
}

.btn-orange {
  color: #fff;
  background-color: #fb8f1d;
}

.btn-transparent {
  color: #fb8f1d;
}

.btn:hover {
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
}

.btn:active {
  box-shadow: inset 1px 1px 13px -5px #000;
  background: #fb8f1d;
  color: #fff;
  border: none;
}

h1,
h2 {
  font-family: "PlayfairDisplay-Bold", sans-serif;
  color: #000;
  font-size: 3.6rem;
}

.selector {
  position: relative;
  width: 100%;
  height: 5.2rem;
}

.selector:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0.590027L6 5.17003L10.59 0.590027L12 2.00003L6 8.00003L0 2.00003L1.41 0.590027Z' fill='%23C4C4C4'/%3E%3C/svg%3E") center center no-repeat;
  background-size: 12px;
  pointer-events: none;
  position: absolute;
  top: 46%;
  right: 4%;
  z-index: 1;
  margin-top: -3px;
}

.selector select {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
  background: none;
  border: 1px solid #afb0b9;
  border-radius: 5px;
  appearance: none;
  font-family: "Inter-Regular";
  font-size: 1.5rem;
  color: #4a4c53;
}

.selector select:focus {
  outline: 0;
  border-color: #fb8f1d;
}

.link {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.7rem;
  color: #fb8f1d;
}

.header {
  position: relative;
  max-width: 129rem;
  margin: 0 auto;
}

.header .wrapper {
  padding-top: 4.3rem;
}

.header__burger {
  display: none;
}

.header__actions {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.4rem;
}

.header__actions .logo {
  position: absolute;
  left: 1rem;
}

.header__buttons {
  display: flex;
  position: absolute;
  right: 1rem;
}

.header__menu {
  padding-right: 3.4rem;
  position: absolute;
  right: 29rem;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  width: 35rem;
}

.header__link {
  font-family: "Inter-Regular";
  color: #b8becd;
  font-size: 16px;
}

.header__link_active {
  font-family: "Inter-Medium";
  color: #202336;
  font-size: 16px;
}

.header .btn {
  height: 4.4rem;
  width: 13.2rem;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.5rem;
}

.header .btn-orange {
  margin-left: 1.8rem;
}

.burger__menu {
  position: absolute;
  visibility: hidden;
  top: -100vh;
  padding: 7rem 2rem 2rem 2rem;
  background-color: #ff8300eb;
  width: 100%;
  left: 0;
}

.burger__delimiter {
  position: absolute;
  left: 0;
  top: 5.7rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.burger__delimiter span {
  width: 99%;
  border-bottom: 2px solid #1abe84;
}

.burger__navbar li {
  padding-bottom: 2rem;
}

.burger__navbar li:last-child {
  padding: 0;
}

.burger__link {
  font-family: "Inter-Regular";
  color: #fff;
  font-size: 2rem;
}

.burger__link_active {
  font-family: "Inter-Bold";
  color: #202336;
  font-size: 2.2rem;
}

.burger__btns {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  font-family: "Inter-Regular";
  color: #1abe84;
  font-size: 2.5rem;
}

.burger__btns :first-child {
  padding-right: 1rem;
}

.burger__btns :last-child {
  padding-left: 1rem;
}

.burger__btns a {
  color: #fff;
}

#burger__checkbox {
  opacity: 0;
}

.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after {
  z-index: 4;
  display: block;
  position: absolute;
  top: 56%;
  width: 25px;
  height: 2px;
  background-color: #000;
}

.burger__btn > span::before {
  content: "";
  top: -8px;
}

.burger__btn > span::after {
  content: "";
  top: 8px;
}

#burger__checkbox:checked ~ .burger__btn > span {
  transform: rotate(45deg);
}

#burger__checkbox:checked ~ .burger__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#burger__checkbox:checked ~ .burger__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#burger__checkbox:checked ~ .burger__menu {
  visibility: visible;
  top: 0;
}

.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after {
  transition-duration: 0.25s;
}

.burger__menu {
  transition-duration: 0.45s;
}

@media (max-width: 992px) {
  .header__buttons {
    position: static;
  }
  .header__menu {
    position: static;
    padding: 0;
  }
  .header__actions {
    justify-content: space-between;
  }
  .header__actions .logo {
    position: static;
  }
}

@media (max-width: 768px) {
  .header .wrapper {
    padding-top: 1rem;
  }
  .header__actions {
    display: none;
  }
  .header__burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header__burger .logo {
    z-index: 4;
  }
}

.stage {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 7rem;
  height: max-content;
}

.stage__picture {
  max-width: 60%;
  padding-left: 2rem;
  text-align: right;
}

.stage__picture img {
  width: 100%;
}

.stage__heading {
  max-width: 40%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.stage__title {
  font-family: "PlayfairDisplay-Bold", sans-serif;
  color: #202336;
  font-size: 6.4rem;
  max-width: 36rem;
  padding-bottom: 7.4rem;
}

.stage__text {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 2.2rem;
}

.stage .btn {
  height: 5.2rem;
  width: 18rem;
  font-family: "Mulish-Bold", sans-serif;
  font-size: 1.7rem;
  grid-area: hf-btn;
}

.delimiter {
  width: 3.2rem;
  border-bottom: 2px solid #202336;
}

.holiday-finder {
  max-width: 47rem;
  max-height: 34.4rem;
  grid-template-columns: minmax(15rem, 22rem) minmax(15rem, 22rem);
  grid-template-rows: repeat(4, 52px);
  display: grid;
  grid-template-areas: "hf-text hf-text" "location activity" "grade date" "hf-btn hf-btn";
  grid-row-gap: 3.5rem;
  grid-column-gap: 3rem;
}

.holiday-finder .selector:nth-child(2) {
  grid-area: location;
}

.holiday-finder .selector:nth-child(3) {
  grid-area: activity;
}

.holiday-finder .selector:nth-child(4) {
  grid-area: grade;
}

.holiday-finder .selector:nth-child(5) {
  grid-area: date;
}

.holiday-finder__text {
  grid-area: hf-text;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1199.98px) {
  .stage__title {
    font-size: 5rem;
    padding-bottom: 5rem;
  }
  .holiday-finder {
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.7rem;
  }
}

@media (max-width: 992px) {
  .stage__title {
    font-size: 4rem;
    padding-bottom: 3rem;
  }
  .stage__picture img {
    width: 90%;
  }
  .selector {
    height: 4.7rem;
  }
  .selector select {
    padding: 0 3rem 0 1rem;
  }
}

@media (max-width: 768px) {
  .stage {
    flex-direction: column-reverse;
    padding-top: 2rem;
  }
  .stage__title {
    font-size: 5rem;
    max-width: 100%;
    text-align: center;
  }
  .stage__heading {
    max-width: 90%;
    align-items: center;
  }
  .stage__picture {
    max-width: 80%;
    padding: 0;
  }
  .stage__picture img {
    width: 100%;
  }
  .holiday-finder {
    max-width: 100%;
    grid-template-columns: minmax(15rem, 45vw) minmax(15rem, 45vw);
  }
}

@media (max-width: 575.98px) {
  .stage__heading {
    max-width: 100%;
  }
  .stage__picture {
    max-width: 100%;
  }
  .stage__title {
    font-size: 10vw;
  }
  .holiday-finder {
    width: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
  }
  .holiday-finder__text {
    height: 3.7rem;
  }
}

.article {
  padding-top: 27rem;
}

.article-reverse {
  flex-direction: row-reverse;
}

.article__heading {
  display: flex;
  flex-direction: column;
  max-width: 48rem;
  height: 33rem;
}

.article__title {
  line-height: 5rem;
}

.article__text {
  font-family: "Mulish-Light";
  font-size: 1.7rem;
  line-height: 3rem;
  color: #7d7987;
  padding: 2rem 0 3rem 0;
}

.features {
  padding-top: 30rem;
  width: 80%;
  flex-direction: column;
}

.features__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.features__list {
  padding-top: 5.6rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.feature {
  position: relative;
  border-radius: 8px;
  width: 26rem;
  height: 33rem;
}

.feature__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12rem;
  height: 5.6rem;
  background-color: #fff;
  border-radius: 0px 6px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.feature__title {
  font-family: "Inter-SemiBold";
  font-size: 1.7rem;
  color: #042521;
}

.feature__description {
  font-family: "Inter-Medium";
  font-size: 1.5rem;
  color: #80918e;
}

.feature img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -2;
  width: 26rem;
  height: 33rem;
  border-radius: 8px;
  object-fit: cover;
}

.testimonials {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25rem;
}

.testimonials__body {
  padding-top: 4.5rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial {
  width: 45rem;
}

.testimonial__grade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 19rem;
}

.testimonial__text {
  font-family: "Mulish-Regular";
  font-size: 2.4rem;
  padding: 3rem 0 4rem 0;
}

.testimonial__author {
  display: flex;
  flex-direction: column;
}

.testimonial .author__name {
  font-family: "Inter-Bold";
  font-size: 2.2rem;
}

.testimonial .author__post {
  font-family: "Inter-Regular";
  font-size: 1.8rem;
}

.testimonial__pic {
  position: relative;
  width: 38.4rem;
  height: 49rem;
}

.testimonial__pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: none;
  object-position: -15.5rem 0rem;
}

.testimonial__pic::before {
  content: " ";
  position: absolute;
  bottom: -1.3rem;
  left: -1.3rem;
  z-index: 3;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.817 30.8433L19.8216 20.5456C19.8781 20.1524 20.1972 19.7971 20.6101 19.7226L30.9314 19.7341C31.3255 19.7907 31.6447 19.4353 31.72 18.9111L31.7413 13.1631C31.7978 12.77 31.4413 12.4513 30.9159 12.3759L20.5946 12.3644C20.2005 12.3078 19.8441 11.9891 19.7693 11.5771L19.7738 1.27937C19.8302 0.886248 19.4738 0.567556 18.9484 0.492081L13.1872 0.466976C12.7931 0.410369 12.474 0.765751 12.3987 1.28992L12.3942 11.5877C12.3377 11.9808 12.0185 12.3362 11.6056 12.4106L1.28426 12.3991C0.890202 12.3425 0.571022 12.6979 0.495726 13.2221L0.474391 18.9701C0.417919 19.3632 0.77435 19.6819 1.29977 19.7574L11.6211 19.7688C12.0152 19.8254 12.3716 20.1441 12.4465 20.5561L12.4419 30.8538C12.3855 31.247 12.7419 31.5656 13.2673 31.6411L19.0285 31.6662C19.4414 31.5918 19.7605 31.2364 19.817 30.8433Z' fill='%23FDD08D'/%3E%3C/svg%3E%0A");
}

.testimonial__pic::after {
  content: " ";
  position: absolute;
  top: -1.7rem;
  right: -1.7rem;
  z-index: -1;
  width: 4.2rem;
  height: 4.2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.91229 29.7239C-2.94163 19.2289 1.78109 6.76622 12.2761 1.91229C22.771 -2.94163 35.2338 1.78106 40.0877 12.276C44.9416 22.771 40.2189 35.2338 29.7239 40.0877C19.229 44.9416 6.76621 40.2189 1.91229 29.7239ZM7.68451 27.1002C11.0954 34.4466 19.7537 37.7263 27.2314 34.3154C34.5779 30.9046 37.8575 22.2463 34.4467 14.7686C31.0358 7.29095 22.3775 4.14246 14.8998 7.55333C7.55332 10.9642 4.27365 19.7537 7.68451 27.1002Z' fill='url(%23paint0_linear_1_915)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_915' x1='12.5652' y1='1.81889' x2='29.5502' y2='40.2278' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BFF0DD'/%3E%3Cstop offset='1' stop-color='%2357D2A3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.pic__controls {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 13.2rem;
  height: 6rem;
  background: #ffffff;
  border-radius: 16px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.circle {
  position: relative;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  border-radius: 50%;
}

.circle__right {
  margin-left: 2.2rem;
  background: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5.5L1 10' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.circle__right_disabled {
  margin-left: 2.2rem;
  border-color: #d7d7d7;
  background: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5.5L1 10' stroke='%23d7d7d7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.circle__left {
  background: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10L1 5.5L5 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.circle__left_disabled {
  border-color: #d7d7d7;
  background: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10L1 5.5L5 1' stroke='%23d7d7d7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.grade-star {
  width: 2.6rem;
  height: 2.4rem;
  background: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5854 20.0488L18.5854 23.7073C19.7561 24.439 21.0732 23.4146 20.7805 22.0976L19.1708 15.2195L24.5854 10.5366C25.6098 9.65854 25.0244 8.04878 23.7073 7.90244L16.683 7.31707L13.9025 0.878049C13.3171 -0.292683 11.7073 -0.292683 11.122 0.878049L8.34149 7.46341L1.3171 8.04878C2.73548e-05 8.04878 -0.438997 9.65854 0.439052 10.5366L5.85369 15.2195L4.24393 22.0976C3.95125 23.4146 5.26832 24.2927 6.43905 23.7073L12.5854 20.0488Z' fill='%23FFBB0C'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.trending {
  padding-top: 27rem;
  flex-direction: column;
  width: 100%;
}

.trending__text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending__list {
  width: 100%;
  padding-top: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story {
  position: relative;
  display: block;
  width: 27rem;
  height: 44.5rem;
  border-radius: 8px 8px 0 0;
}

.story__pic {
  position: relative;
  width: 100%;
  height: 23rem;
}

.story__pic img {
  border-radius: 8px 8px 0 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story__filler {
  height: 50%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.story__title {
  font-family: "Inter-Bold";
  font-size: 1.9rem;
}

.story__text {
  padding-top: 2rem;
  font-family: "Inter-Regular";
  font-size: 1.5rem;
  color: #7d7987;
}

.story .link {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer {
  background-color: #f9f9fb;
  margin-top: 10rem;
}

.footer .wrapper {
  flex-direction: column;
}

.footer__about {
  width: 30%;
}

.footer__nav {
  padding-top: 1.5rem;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer .social {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 2.2rem;
  width: 20%;
}

.floor1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 7.8rem 0 8rem 0;
}

.floor2 {
  width: 100%;
  border-top: 1px solid #c4c4c4;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.about__text {
  padding: 2.5rem 0 5.5rem 0;
  font-family: "Mulish-Light";
  font-size: 1.8rem;
  color: #848484;
}

.about__copyright {
  font-family: "Mulish-Light";
  font-size: 1.7rem;
  color: #848484;
}

.nav__block {
  height: 100%;
}

.nav__block li {
  padding-bottom: 2.4rem;
}

.nav__title {
  font-family: "Mulish-Bold";
  font-size: 1.9rem;
  padding-bottom: 3.5rem;
}

.nav__link {
  font-family: "Mulish-Light";
  font-size: 1.7rem;
  color: #848484;
}
/*# sourceMappingURL=style.css.map */