.article {
  padding-top: 27rem;
  &-reverse {
    flex-direction: row-reverse;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    max-width: 48rem;
    height: 33rem;
  }
  &__title {
    line-height: 5rem;
  }
  &__text {
    font-family: "Mulish-Light";
    font-size: 1.7rem;
    line-height: 3rem;
    color: #7d7987;
    padding: 2rem 0 3rem 0;
  }
}

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
@media (max-width: 1399.98px) {
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
}

// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 992px) {
}

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
