.stage {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 7rem;
  height: max-content;
  &__picture {
    max-width: 60%;
    padding-left: 2rem;
    text-align: right;
    img {
      width: 100%;
    }
  }
  &__heading {
    max-width: 40%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-family: "PlayfairDisplay-Bold", sans-serif;
    color: #202336;
    font-size: 6.4rem;
    max-width: 36rem;
    padding-bottom: 7.4rem;
  }
  &__text {
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 2.2rem;
  }
  .btn {
    height: 5.2rem;
    width: 18rem;
    font-family: "Mulish-Bold", sans-serif;
    font-size: 1.7rem;
    grid-area: hf-btn;
  }
}

.delimiter {
  width: 3.2rem;
  border-bottom: 2px solid #202336;
}

.holiday-finder {
  max-width: 47rem;
  max-height: 34.4rem;
  grid-template-columns:
    minmax(15rem, 22rem)
    minmax(15rem, 22rem);
  grid-template-rows: repeat(4, 52px);
  display: grid;
  grid-template-areas:
    "hf-text hf-text"
    "location activity"
    "grade date"
    "hf-btn hf-btn";
  grid-row-gap: 3.5rem;
  grid-column-gap: 3rem;
  .selector {
    &:nth-child(2) {
      grid-area: location;
    }
    &:nth-child(3) {
      grid-area: activity;
    }
    &:nth-child(4) {
      grid-area: grade;
    }
    &:nth-child(5) {
      grid-area: date;
    }
  }
  &__text {
    grid-area: hf-text;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
@media (max-width: 1399.98px) {
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
  .stage {
    &__title {
      font-size: 5rem;
      padding-bottom: 5rem;
    }
  }
  .holiday-finder {
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.7rem;
  }
}

// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 992px) {
  .stage {
    &__title {
      font-size: 4rem;
      padding-bottom: 3rem;
    }
    &__picture {
      img {
        width: 90%;
      }
    }
  }
  .selector {
    height: 4.7rem;
    select {
      padding: 0 3rem 0 1rem;
    }
  }
}

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 768px) {
  .stage {
    flex-direction: column-reverse;
    padding-top: 2rem;
    &__title {
      font-size: 5rem;
      max-width: 100%;
      text-align: center;
    }
    &__heading {
      max-width: 90%;
      align-items: center;
    }
    &__picture {
      max-width: 80%;
      padding: 0;
      img {
        width: 100%;
      }
    }
  }

  .holiday-finder {
    max-width: 100%;
    grid-template-columns:
      minmax(15rem, 45vw)
      minmax(15rem, 45vw);
  }
}

@media (max-width: 575.98px) {
  .stage {
    &__heading {
      max-width: 100%;
    }
    &__picture {
      max-width: 100%;
    }
    &__title {
      font-size: 10vw;
    }
  }
  .holiday-finder {
    width: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    &__text {
      height: 3.7rem;
    }
  }
}
