.testimonials {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25rem;
  &__body {
    padding-top: 4.5rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.testimonial {
  max-width: 40%;
  &__grade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 19rem;
  }
  &__text {
    font-family: "Mulish-Regular";
    font-size: 2.4rem;
    padding: 3rem 0 4rem 0;
  }
  &__author {
    display: flex;
    flex-direction: column;
  }
  .author {
    &__name {
      font-family: "Inter-Bold";
      font-size: 2.2rem;
    }
    &__post {
      font-family: "Inter-Regular";
      font-size: 1.8rem;
    }
  }
  &__pic {
    position: relative;
    width: 38.4rem;
    height: 49rem;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 14px;
      object-fit: none;
      object-position: -15.5rem 0rem;
    }
    &::before {
      content: " ";
      position: absolute;
      bottom: -1.3rem;
      left: -1.3rem;
      z-index: 3;
      width: 3.2rem;
      height: 3.2rem;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.817 30.8433L19.8216 20.5456C19.8781 20.1524 20.1972 19.7971 20.6101 19.7226L30.9314 19.7341C31.3255 19.7907 31.6447 19.4353 31.72 18.9111L31.7413 13.1631C31.7978 12.77 31.4413 12.4513 30.9159 12.3759L20.5946 12.3644C20.2005 12.3078 19.8441 11.9891 19.7693 11.5771L19.7738 1.27937C19.8302 0.886248 19.4738 0.567556 18.9484 0.492081L13.1872 0.466976C12.7931 0.410369 12.474 0.765751 12.3987 1.28992L12.3942 11.5877C12.3377 11.9808 12.0185 12.3362 11.6056 12.4106L1.28426 12.3991C0.890202 12.3425 0.571022 12.6979 0.495726 13.2221L0.474391 18.9701C0.417919 19.3632 0.77435 19.6819 1.29977 19.7574L11.6211 19.7688C12.0152 19.8254 12.3716 20.1441 12.4465 20.5561L12.4419 30.8538C12.3855 31.247 12.7419 31.5656 13.2673 31.6411L19.0285 31.6662C19.4414 31.5918 19.7605 31.2364 19.817 30.8433Z' fill='%23FDD08D'/%3E%3C/svg%3E%0A");
    }
    &::after {
      content: " ";
      position: absolute;
      top: -1.7rem;
      right: -1.8rem;
      z-index: -1;
      width: 4.2rem;
      height: 4.2rem;
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.91229 29.7239C-2.94163 19.2289 1.78109 6.76622 12.2761 1.91229C22.771 -2.94163 35.2338 1.78106 40.0877 12.276C44.9416 22.771 40.2189 35.2338 29.7239 40.0877C19.229 44.9416 6.76621 40.2189 1.91229 29.7239ZM7.68451 27.1002C11.0954 34.4466 19.7537 37.7263 27.2314 34.3154C34.5779 30.9046 37.8575 22.2463 34.4467 14.7686C31.0358 7.29095 22.3775 4.14246 14.8998 7.55333C7.55332 10.9642 4.27365 19.7537 7.68451 27.1002Z' fill='url(%23paint0_linear_1_915)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_915' x1='12.5652' y1='1.81889' x2='29.5502' y2='40.2278' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BFF0DD'/%3E%3Cstop offset='1' stop-color='%2357D2A3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
}

.pic__controls {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 13.2rem;
  height: 6rem;
  background: #ffffff;
  border-radius: 16px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.circle {
  position: relative;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  border-radius: 50%;
  &__right {
    margin-left: 2.2rem;
    background: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5.5L1 10' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
      center center no-repeat;
    &_disabled {
      margin-left: 2.2rem;
      border-color: #d7d7d7;
      background: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5.5L1 10' stroke='%23d7d7d7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        center center no-repeat;
    }
  }
  &__left {
    background: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10L1 5.5L5 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
      center center no-repeat;
    &_disabled {
      border-color: #d7d7d7;
      background: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10L1 5.5L5 1' stroke='%23d7d7d7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        center center no-repeat;
    }
  }
}

.grade-star {
  width: 2.6rem;
  height: 2.4rem;
  background: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5854 20.0488L18.5854 23.7073C19.7561 24.439 21.0732 23.4146 20.7805 22.0976L19.1708 15.2195L24.5854 10.5366C25.6098 9.65854 25.0244 8.04878 23.7073 7.90244L16.683 7.31707L13.9025 0.878049C13.3171 -0.292683 11.7073 -0.292683 11.122 0.878049L8.34149 7.46341L1.3171 8.04878C2.73548e-05 8.04878 -0.438997 9.65854 0.439052 10.5366L5.85369 15.2195L4.24393 22.0976C3.95125 23.4146 5.26832 24.2927 6.43905 23.7073L12.5854 20.0488Z' fill='%23FFBB0C'/%3E%3C/svg%3E%0A")
    center center no-repeat;
}

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
@media (max-width: 1399.98px) {
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
  .testimonials {
    &__body {
      width: 95%;
    }
  }
}

// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 992px) {
  .testimonials {
    &__body {
      width: 100%;
    }
  }
  .testimonial {
  }
}

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 768.98px) {
  .testimonials {
    padding-top: 15rem;
    &__body {
      flex-direction: column-reverse;
    }
  }

  .testimonial {
    max-width: 80%;
    padding-top: 3rem;
  }
}

@media (max-width: 575.98px) {
  .testimonials {
    padding-top: 10rem;
    &__title {
      font-size: 3rem;
    }
  }
  .testimonial {
    max-width: 95%;
    padding-top: 3rem;
    &__pic {
      width: 90vw;
      img {
        object-position: 40% 0;
      }
    }
    .author {
      &__name {
        font-size: 1.9rem;
      }
      &__post {
        font-size: 1.5rem;
      }
    }
  }
}
