@import "./normalize";

html {
  font-size: 10px;
}

.wrapper {
  max-width: 122rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 4.8rem;
  width: 16.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.6rem;
  border: 1px solid #fb8f1d;
  &-orange {
    color: #fff;
    background-color: #fb8f1d;
  }
  &-transparent {
    color: #fb8f1d;
  }
}

h1,
h2 {
  font-family: "PlayfairDisplay-Bold", sans-serif;
  color: #000;
  font-size: 3.6rem;
}

@import "./header";
